[flake8]
max-line-length = 120
ignore = E731,W504,I001,W503
exclude = .git,__pycache__,.eggs,*.egg
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
