build
.cache
.coverage
.coverage.*
coverage.xml
dist
docs/_auto
docs/_build
*.dot
*.dot.*
*.egg-info
.eggs
htmlcov
.idea
.ipynb_checkpoints
junit.xml
*.log
*.log.?
*.pyc
.pytest_cache
.tox
.venv
.vscode
