build
.cache
.coverage
.coverage.*
coverage.xml
dist
docs/_auto
docs/_build
*.dot
*.dot.*
*.egg-info
.eggs
htmlcov
.ipynb_checkpoints
junit.xml
*.log
*.log.?
*.pyc
.pytest_cache
.tox

# IDEs
.idea
*.iml
.vscode

# venv
.venv
.python-version
