*.dot
*.dot.*
*.egg-info
*.iml
*.log
*.log.?
*.pyc
.cache
.coverage
.coverage.*
.eggs
.idea
.ipynb_checkpoints
.pytest_cache
.python-version
.tox
.venv
.vscode
build
coverage.xml
dist
docs/_auto
docs/_build
htmlcov
junit.xml
